.sponsors{
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 100% !important;
    .sponsors-grid{
       
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 20px;
        @include breakpoint-down(medium){
            grid-template-columns: repeat(3,1fr);
           
        }

        @include breakpoint-down(small){
            grid-template-columns: repeat(2,1fr);
           
        }
        img{
            margin-left: auto;
            margin-right: auto; 
        }
    }
}