// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: #909294;
$gray: rgba(30, 30, 30, 0.9);
$dark: #262626;
$light: rgba(196, 196, 196, 0.20);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$orange: #f36302;
$overlay-gray:rgba(55, 55, 55, 0.85);
// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 85px;